<div *ngIf="this.displayStateValue === 2 || this.displayStateValue === 1">
  <form [formGroup]="searchForm"  >
    <div class="ui-serch-bar-form" cellspacing="0"><tr>
        <td>
            <mat-form-field class="items">
                <input matInput placeholder="Účet" type="text" formControlName="account">
                <mat-error *ngIf="searchForm.controls.account.invalid && searchForm.controls.account.touched">Neznámý
                        formát</mat-error>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="items">
                <input matInput placeholder="KBID" type="text" formControlName="kbi" >
                <mat-error *ngIf="searchForm.controls.kbi.invalid && searchForm.controls.kbi.touched">Neznámý
                        formát</mat-error>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="items">
                <input matInput placeholder="rč/ič" type="text" formControlName="einBn">
                <mat-error *ngIf="searchForm.controls.einBn.invalid && searchForm.controls.einBn.touched">Neznámý
                        formát</mat-error>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="items">
                <input matInput placeholder="Jméno" type="text" formControlName="clientName">
                <mat-error *ngIf="searchForm.controls.clientName.invalid && searchForm.controls.clientName.touched">Neznámý
                        formát</mat-error>
            </mat-form-field>
        </td>
        <td><button (click)=handleFind()>Hledat</button></td>
        <td><button [disabled]="displayStateValue !== 2" (click)=handleCreateWSlot()>Vytvořit novou složku</button></td>
        <td><button [disabled]="displayStateValue !== 2" (click)=handleCreateWArch()>Rovnou archivovat</button></td>
    </tr></div>
  </form>
</div>


<div *ngIf="displayStateValue === 4"><crtDocFBar (break) = "defaultState($event)" [selected] = "this.selectedProduct[0]"></crtDocFBar></div>
<div *ngIf="displayStateValue === 3"> <crtDocABar (break) = "defaultState($event)" [selected] = "this.selectedProduct[0]"></crtDocABar></div>
  

<div *ngIf="this.foundDocumet !== undefined" class="white">
    <div>
            <searchResult [documents] ="this.displayDocument" (outputSelection) = "loadSelection($event)"></searchResult>
    </div>
</div>

