
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="selection.hasValue() ? masterToggle() : null"
                      [checked]="selection.hasValue() "
                      [indeterminate]="selection.hasValue()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="handleSelection(row)"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>


   <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> účet </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Jméno </th>
      <td mat-cell *matCellDef="let element"> {{element.client.name}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titul </th>
      <td mat-cell *matCellDef="let element"> {{element.client.title}} </td>
    </ng-container>

    <ng-container matColumnDef="homeBranch">
      <th mat-header-cell *matHeaderCellDef> Pobočka k. </th>
      <td mat-cell *matCellDef="let element"> {{element.client.homeBranch}} </td>
    </ng-container>

    <ng-container matColumnDef="passId">
      <th mat-header-cell *matHeaderCellDef> rč/ič </th>
      <td mat-cell *matCellDef="let element"> {{element.client.passId}} </td>
    </ng-container>

    <ng-container matColumnDef="productTypeCode">
      <th mat-header-cell *matHeaderCellDef> produkt </th>
      <td mat-cell *matCellDef="let element"> {{element.productTypeCode}} </td>
    </ng-container>

    <ng-container matColumnDef="branchCode">
      <th mat-header-cell *matHeaderCellDef> Pobočka p. </th>
      <td mat-cell *matCellDef="let element"> {{element.branchCode}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Vytvočeno </th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>

    <ng-container matColumnDef="expired">
      <th mat-header-cell *matHeaderCellDef> Expirace </th>
      <td mat-cell *matCellDef="let element"> {{element.expired}} </td>
    </ng-container>


  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           

              <expadnColumn [product] ="this.element" [extended] = "this.extended"></expadnColumn>
    
      </div>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>

 