.searchResult {

}
.ui-serch-bar-form {
    display: flex;
    flex-direction: column;
    min-height: 10px;
  }
  
  .items {
    font-size: 0.8em;
    width: 90%;
  }
  ::ng-deep .mat-form-field-underline {
  
  }
  table {
    width: 100%;
  }